:root {
    --color-rojo: #CC0000;
    --color-amarillo: #FFDE00;
    --color-azul: #3B4CCA;
    --color-blanco: #FFFFFF;
    --color-flying: #87CEEB; /* SkyBlue */
}

body {
    background-color: var(--color-rojo);
}

/* Fuente personalizada para el header */
.font-press-start {
    font-family: 'Press Start 2P', cursive;
}

.text-pokedex {
    color: var(--color-amarillo);
    text-shadow: -1px -1px 0 var(--color-azul), 1px -1px 0 var(--color-azul),
        -1px 1px 0 var(--color-azul), 1px 1px 0 var(--color-azul);
}

label {
    color: var(--color-blanco);
}

footer {
    background-color: var(--color-azul);
}